body {
	background-color: #eee;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
}

h1 {
	font-size: 2.92rem;
	line-height: 3.212rem;
	margin: 1.46rem 0 1.168rem 0;
}

h2 {
	font-size: 2.28rem;
	line-height: 2.508rem;
	margin: 1.14rem 0 0.912rem 0;
}

h3 {
	font-size: 1.64rem;
	line-height: 1.804rem;
	margin: 0.82rem 0 0.656rem 0;
}

h4 {
	font-size: 1.4rem;
	line-height: 1.5rem;
	margin: 0.5rem 0 0.4rem 0;
}

h5 {
	font-size: 1.2rem;
	line-height: 1.3rem;
	margin: 0.4rem 0 0.3rem 0;
}

h6 {
	font-size: 1.1rem;
	line-height: 1.15rem;
	margin: 0.15rem 0 0.2rem 0;
}

hr {
	margin-left: 2rem;
	margin-right: 2rem;
}

section {
	padding-left: 2rem;
	padding-right: 2rem;
}

section#hello {
	border-bottom-width: 2px;
}

section ul {
	list-style-type: disc;
	padding-left: 2rem;
}

section#skills-and-tech ul {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

section#languages ul, section#dbs ul, section#vcs ul {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

section ul li {
	list-style-type: disc;
}

#top-bar {
	background: #3f51b5;
	height: 200px;
	width: 100%;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	border-bottom: initial;
	padding-left: 2rem;
	padding-right: 2rem;
}

.container {
	position: relative;
}

.content {
	background-color: #fafafa;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	overflow: hidden;
	z-index: 9;
	margin-top: -180px;
	margin-bottom: 20px;
}
.content .row {
	margin-bottom: unset;
}

img.responsive-img {
	max-width: 100%;
	height: auto;
}

img.circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box;
}

i {
	vertical-align: bottom;
}

.block {
	margin-bottom: 25px;
	margin-left: 45px;
	margin-right: 45px;
}

.block p {
	margin-top: 5px;
}

.helping-text {
	margin: 0px;
}

.card .card-image img {
	z-index: 0;
}
.card .card-content span.card-title {
	line-height: 48px;
	position: relative;
	padding: 0px;
}
.card .card-reveal {
	padding: 16px;
	position: absolute;
	background-color: #FFF;
	top: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card .card-reveal .card-title {
	cursor: pointer;
	display: block;
}
.card .card-image span.card-title {
	position: relative;
	padding: 0px;
}
.card .card-image span.card-title i {
	cursor: pointer;
}

@media only screen and (max-width: 599px) {

	body .container {
		width: unset;
	}

	body .block {
		margin-left: auto;
		margin-right: auto;
	}

	section#skills-and-tech ul, section#languages ul, section#dbs ul, section#vcs ul {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #555;
		color: #fafafa;
	}

	body #top-bar {
		background-color: #333;
	}

	body .content {
		background-color: #222;
	}

	body .content a {
		color: #fff !important;
		text-decoration: underline;
	}

	body .content h5, body .content p {
		color: #fafafa !important;
	}

	body i[class*=' mdi-'],i[class^='mdi-'] {
		color: #ccc !important;
	}

}

